
/* 기본 라이트 테마 정의 */
:root {
  --background-color: white;
  --text-color: black;
  --primary-color: #6200ea;
}

/* 다크 테마 정의 */
body.dark {
  --background-color: #121212;
  --text-color: white;
  --primary-color: #bb86fc;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

h1 {
  color: var(--primary-color);
}
